<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
 <div class="container-fluid">
     <div class="main-menu" style="padding: 15px 0px 0px 0px; ">
         <div class="navbar navbar-expand-sm bg-dark navbar-dark" style="border-radius: 15px 15px 0 0;" >
           <ul class="navbar-nav"><li class="nav-item active"><a class="nav-link" href="#">National ID</a></li></ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Admin</a>
            </li>
               <li>
                   <a data-toggle="modal" data-target="#myModal" href="#myModal"><img style="width: 50px;height: 50px;" src="../static/img/profileimg.fw.png" alt=""></a>
               </li>
          </ul>

      </div>
         <div class="modal fade" id="myModal" role="dialog" >
            <div class="modal-dialog modal-sm" style="float: right; position: relative; margin-right: 50px;margin-top: 150px">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Your profile</h4>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
    </div></div>
 </div>

 <div class="container-fluid" style="padding: 5% 0px 0px 0px">
     <div class="row">
         <div class="col-md-3">
             <div class="form-group" style="padding-left: 10%;width: 45%">
                  <label for="sel1">Search By:</label>
                  <select class="form-control" id="sel1">
                    <option>District</option>
                    <option>Subcounty</option>
                    <option>Parish</option>
                    <option>Village</option>
                  </select>
             </div>
             <br>
				<form class="navbar-form" role="search" style="padding-left: 10%;">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search...">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-default">
								<span class="glyphicon glyphicon-search">
									<span class="sr-only">Search...</span>
								</span>
							</button>
						</span>
					</div>
				</form>
         </div>
          <div class="col-md-8">

              {% block content %}

              {% endblock %}

          </div>
          <div class="col-md-1"></div>
     </div>
 </div>
</body>
</html>
